<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ai.agemon.server</string>

    <key>KeepAlive</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>/opt/agemon</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/agemon/scripts/agemon-start.sh</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>NODE_ENV</key>
        <string>production</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/var/log/agemon/agemon.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/agemon/agemon-error.log</string>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
